.topic{
	font-size: 40px;
	color: #114105;
	padding: 150px 0 30px 0;
}

.grad{
	position: absolute;
	text-align: center;
	margin-bottom: 100px;
}

.course{
	position: absolute;
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.under{
	margin-left: 25px;
	width: 330px;
	height: 500px;
	padding: 10px;
	background-color: rgb(213, 238, 207);
	border-radius: 2px;
	box-shadow:5px 10px 10px 5px#aaaa;
}

.under img{
	width: 300px;
	height: 250px;
}

.post{
	text-align: center;
	padding: 20px;
}

.description{
	margin-top: 10px;
	padding: 10px;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 20px;
}

.under img:hover{
	border: 1px solid transparent;
  	box-shadow: 0 0 8px 0 #8ebf42;
  	color: #8ebf42;
  	transform: scale(1.0);
}

.post h4:hover{
	color: #8ebf42;
	transform: scale(1.2);
}